/* =============== extra small start ==================== */

@media (min-width:320px) and (max-width:575px) {

    /* ======== navbar start ========== */

    nav ul{
        background: #FF7628;
        border: 1px solid #000
    }
    nav ul li{
        text-align: center;
        border-bottom: 1px solid #000;
        padding: 5px 0px;
    }
    nav ul li:last-child{
        border-bottom: none;
    }
    nav ul li a:hover{
        color: #fff !important;
    }
    nav .custom-btn {
        display: inline-block;
        padding: 9px 16px 12px 16px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    nav .custom-btn a{
        font-size: 12px;
    }

    /* ======== navbar end ========== */

    /* ======== banner start ========== */
    .banner_content{
        order: 2;
        padding: 90px 0px 30px 0px;
        width: 100%;
        text-align: center;
    }
    .banner_content h1 {
        width: auto;
        line-height: 48px;
        font-size: 31px;
    }
    .banner_content p {
        width: auto;
        line-height: 24px;
        font-size: 14px;
    }
    .banner .custom-btn {
        display: inline-block;
        padding: 9px 16px 12px 16px;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
    }
    .banner .custom-btn a{
        font-size: 12px;
    }
    .banner_img .item1 picture img{
        display: inline-block;
        width: 80%;
    }
    .banner_img .item2 picture img{
        display: inline-block;
        width: 80%;
    }
    .banner_img .item1 {
        position: relative;
        left: 25%;
        bottom: 10%;
    }
    .banner_img .item2 {
        position: absolute;
        right: 10%;
        top: 50%;
    }
    /* ======== banner end ========== */

    /* ======== service start ========== */
    .services {
        margin-top: 100px;
        margin-bottom: 60px
    }
    .services_tittle h2 {
        padding: 10px 0px;
        font-size: 30px;
    }
    .services_tittle p {
        width: auto;
        line-height: 24px;
        padding-bottom: 30px;
        font-size: 13px;
    }
    .service_custom_gap{
        row-gap: 20px;
    }
    .services_content .item1 {
        padding: 40px 35px;
    }
    .services_content h3 {
        width: auto;
        font-size: 20px;
    }
    .services_content p {
        width: auto;
        font-size: 13px;
    }
    .services_content .read_more {
        width: 30px;
        height: 30px;
    }
    .services_content .read_more a {
        position: absolute;
        top: 20%;
        left: 3%;
        font-size: 12px;
    }
    /* ======== service end ========== */

    /* ======== portfolio start ========== */
    .portfolio {
        margin-top: 170px;
        margin-bottom: 100px;
    }
    .portfolio_img_content .img_1{
        position: relative;
        left: 18%
    }
    .portfolio_img_content .img_1 picture img{
        display: inline-block;
        width: 265px;
        height: 281px;
    }
    .portfolio_img .img_2 {
        position: relative;
        top: 60%;
        right: 132%;
    }
    .portfolio_img_content .img_2 picture img{
        display: inline-block;
        width: 210px;
    }
    .portfolio_custom_flex {
        flex-wrap: wrap;
        row-gap: 180px;
    }
    .portfolio_content{
        text-align: center;
        width: 100%;
    }
    .portfolio_content h3 {
        font-size: 30px;
    }
    .portfolio_content p {
        width: auto;
        line-height: 24px;
        font-size: 14px;
    }
    .portfolio_content h6 {
        width: auto;
        font-size: 10px;
    }
    .portfolio_content .d-flex {
        padding-top: 30px;
        column-gap: 23px;
        align-items: center;
    }
    /* ======== portfolio end ========== */

    /* ======== showcase start ========== */
    .showcase {
        margin-bottom: 0px;
    }
    .showcase_tittle h2 {
        padding: 16px 0px 35px 0px;
        font-size: 30px;
    }
    .showcase_menu ul {
        column-gap: 14px;
    }
    .showcase_menu ul li a {
        font-size: 9px;
    }
    .showcase_custom_flex {
        justify-content: center;
    }
    .showcase_custom_flex .img picture img{
        display: inline-block;
        width: 100%;
    }
    /* ======== showcase end ========== */

    /* ======== process start ========== */
    .process {
        margin-top: 100px;
        margin-bottom: 0px;
    }
    .process_tittle h2 {
        font-size: 26px;
    }
    .process_tittle p {
        width: auto;
        line-height: 24px;
        font-size: 14px;
    }
    .process_custom_flex {
        row-gap: 20px;
    }
    .process_custom_flex .custom_width1 {
        width: 100%;
    }
    .process_content .step {
        width: 30px;
        height: 30px;
    }
    .process_content .step h5 {
        font-size: 12px;
        top: 19%;
        left: 49%;
    }
    .process_content h3 {
        font-size: 14px;
    }
    .process_content p {
        width: auto;
        font-size: 12px;
    }
    .process_custom_flex .custom_width2 {
        width: 100%;
    }
    .process_custom_flex .custom_width2 .img picture img{
        display: inline-block;
        width: 100%;
    }
    /* ======== process end ========== */

    /* ======== reviews start ========== */
    .review {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .review_tittle {
        text-align: center;
    }
    .review_tittle h2 {
        width: auto;
        padding: 16px 0px;
        font-size: 30px;
    }
    .review_tittle p {
        width: auto;
        line-height: 24px;
        font-size: 14px;
    }
    .review_custom_gap {
        row-gap: 20px
    }
    .review_comments .comments_content {
        padding: 40px 40px;
    }
    .review_comments .comments_content p {
        line-height: 24px;
        width: auto;
        font-size: 14px;
    }
    .review_comments .comments_content .flex .content h5 {
        font-size: 16px;
    }
    .review_comments .comments_content .flex .content h6 {
        font-size: 16px;
    }
    /* ======== reviews end ========== */

    /* ======== blog start ========== */
    .blog {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .blog_tittle h2 {
        width: auto;
        padding: 16px 0px;
        font-size: 30px;
    }
    .blog_tittle p {
        width: auto;
        font-size: 16px;
        line-height: 24px;
    }
    .custom_margin {
        margin-top: 50px;
        row-gap: 20px;
    }
    .blog .custom_card .blog_content h4 {
        width: auto;
        font-size: 18px;
    }
    .blog .custom_card .blog_content h6 {
        width: auto;
        font-size: 14px;
    }
    .blog_content .read_more {
        width: 30px;
        height: 30px;
    }
    .blog_content .read_more a {
        top: 19%;
        left: 49%;
        font-size: 12px;
    }
    /* ======== blog end ========== */

    /* ======== footer start ========== */
    footer {
        margin-top: 100px;
    }
    .custom_flex {
        column-gap: 41px;
    }
    .footer_content {
        text-align: center;
    }
    .footer_content p {
        width: auto;
        line-height: 14px;
        line-height: 24px;
    }
    .footer_item h5 {
        padding-bottom: 20px;
        font-size: 12px;
    }
    .footer_item ul {
        row-gap: 5px;
    }
    .footer_item ul li a {
        font-size: 10px;
    }
    .footer_bottom {
        margin-top: 20px;
        align-items: center;
    }
    .footer_bottom h6 {
        width: auto;
        font-size: 7px;
    }
    .footer_bottom ul {
        column-gap: 15px;
        align-items: center;
        margin-bottom: 10px;
    }
    .footer_bottom ul li a {
        width: auto;
        font-size: 7px;
    }
    /* ======== footer end ========== */

}